{% extends "layout.html" %}
        {% block main %}
        
          <h3>
            <strong>Grading Criterias:</strong>
          </h3><br/>
        <div class="d-flex align-items-center">
            <a class="btn btn-sm btn-success " href="gradeA.html">  <strong>Grade A:</strong> High-quality produce 
                <ul>
                    <ul>Weight: ≥ 27</ul>
                    <ul> fungal_growth = 0</ul>
                    <ul> Pesticides used: 1</ul>
                </ul> 
            </a>
            <br/>
            <br/>
            <a class="btn btn-sm btn-info" href="gradeB.html"><strong>Grade B:</strong> Good-quality produce
                <ul>
                    <ul>Weight: 22 ≤ Weight ≤ 27</ul>
                    <ul>fungal_growth = 0</ul>
                    <ul>Pesticides: optional</ul>
                </ul> </a><br/>
                <a class="btn btn-sm btn-warning" href="gradeC.html">
                    <strong>Grade C:</strong> Lower-quality produce 
                    <ul>
                        <ul>Weight: 20 ≤ Weight ≤ 22</ul>
                        <ul>Fungal growth = 1</ul>
                        <ul>Pesticides used = 0</ul>
                    </ul>
                </a>
                <a class="btn btn-sm btn-danger " href="gradeD.html">
                    <strong>Grade D:</strong> Lowest-quality produce
                    <ul>
                        <ul>Weight: ≤ 20 </ul>
                        <ul>Fungal growth present: 1</ul>
                        <ul>pesticides_used = 0</ul>
                    </ul>
                </a>
                <a class="btn btn-sm btn-secondary " href="#">
                    <strong>UNGRADED</strong> Yet to be Graded
                    <ul>
                        <ul>Weight: </ul>
                        <ul>Fungal growth present</ul>
                        <ul>pesticides_used</ul>
                    </ul>
                </a>
        </div>
        
        <div class="chart-container">

            <canvas id="gradeChart" width="400" height="200"></canvas>

            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
            <script>
                var ctx = document.getElementById('gradeChart').getContext('2d');
                var gradeChart = new Chart(ctx, {
                type: 'bar', 
                data: {
                    labels: {{ labels|safe }}, 
                    datasets: [{
                    label: 'Grade Distribution',
                    data: {{ counts|safe }},  // Insert counts of each grade
                    backgroundColor: [
                         'blue', 'red', 'green',  'gray','orange'
                    ],
                    borderColor: [
                        'darkgreen', 'darkblue', 'darkorange', 'gray' , 'darkred'
                    ],
                    borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                    scales: {
                    y: {
                        beginAtZero: true
                    }
                    }
                }
                });
             </script>
        </div>
        

        </div>
       

            <div>
                <br/>
                <h3>Visualizing Product Metrics </h3>
                <br/>
                    <form action="" method=POST>
                        {% csrf_token %}
                         {{ form.as_p }}
                         <input type="submit" value="Submit" class="btn btn-primary">
                    </form>
            </div>
            
        {% endblock %}